.policy-text{
    color : #1e1e1e;
    font-family: Roboto Mono,monospace;
}
.privacy-header::before{
        content: "";
    display: block;
    height: 1px;
    background: #dbdbdb;
    position: absolute;
    width: 200px;
    bottom: -9px;
}
.privacy-header::after{
    content: "";
    display: block;
    height: 1px;
    background: #dbdbdb;
    position: absolute;
    width: 150px;
    bottom: -17px;
}
.line-1{
    width:30%
}
.line-2{
    width:20%
}
.line-3{
    width:10%
}
.privacy-content{
    margin-top:16px;
}