// .project-location{
//     width: 600px;
//     height:75vh;
// }

.project-location {
  // width: 100%;
//   max-width: 1200px;
  // height: auto;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
@media (max-width: 768px) {
 .project-location {
  width: 100%;
  max-width: 100vw;
  height: auto;
}
}