.project-card {
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 5px 1px #00000026;
    height: 85%;
    cursor: pointer;
}

.project-section {
  display: flex;
  flex-wrap: wrap;
//   justify-content: center;
  gap: 32px;
}

.project-card-image{
    width:100%;
    height:250px !important;
    overflow: hidden;
}

.project-card-body{
    flex-grow: 1;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .project-card-title{
        font-weight: 600 !important;
    }
    .project-card-text{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .project-card-city{
            width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:12px;
    }
    .project-card-text{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p{
    font-size: 16px;
    font-family: Roboto Mono, monospace;
    color: #1e1e1e;
    }
    }
}
.project-card-description{
    margin-top:16px;
    width:75%
}

.projects-header{
    text-transform: uppercase;
    color:var(--c1);
    text-align:center;
}

.projects-container{
    padding:80px 0
}

.project-button{
    width:100%;
    display: flex;
    justify-content: center;
}

// .project-section {
//   display: flex;
//   gap: 40px;
//   align-items: stretch;
// }

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

// .project-card {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .project-card-body {
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
// }

// .project-card-text {
//   flex-grow: 1;
// }

// .project-button {
//   margin-top: 20px;
// }
@media (max-width: 768px) {
    .project-card {
        width: calc(100% - 48px);
        max-width: 350px;
    }
}
@media (max-width: 768px) {
  .project-card-container {
    width: 100%;
    align-items: center;
  }

  .project-card {
    width: 85%;
    max-width: 350px;
  }

}