.info-card{
    display: flex;
  flex-direction: row !important;
  border:none !important;
  align-items: center;
}
.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:8px
}

.info-body {
    display: flex;
    flex-direction: column;
}
.card-label{
    font-weight:500 !important;
    font-size: 18px !important;
    margin: 0;
    color: var(--c3) !important;
    font-family: monospace;
}
.card-details{
    margin:0 !important
}
.card-info{
    color: var(--c4) !important
}

.card-body{
    padding-left:0 !important;
    padding-right:0 !important;
}