.about-section{
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    text-align: center;
    background: var(--b3);
    .section-title-container{
        width:100%;
        display: flex;
        justify-content: center;
        height: auto;
    .section-title {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--c3);
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin-bottom: 65px;
    &::before{
    content: "";
    display: block;
    height: 1px;
    background: #dbdbdb;
    position: absolute;
    width: 200px;
    bottom: -9px;
    transform: translateX(-20%);
    }
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -17px;
        width: 150px;
        height: 1px;
        background: #dbdbdb;
    }

    span {
        color: var(--c1);
        font-size: inherit;
    }
}
}
}
.about-content{
    font-family: system-ui;
    color: var(--c6);
    line-height: 1.5rem;
    width: 66.66666667%;
    margin: auto !important;
}