.app-container{
    background-color: var(--c2);
    height:100vh !important;
    width: 100vw  !important;;
}

.logo-section{
    cursor: pointer;
    img{
        width: 150px;
        margin-top: 2.5px
    }
}

.section-header{
    font-size: 30px;
    text-transform: uppercase;
    color: var(--c3);
    display: inline;
    align-items: center;
    grid-gap: 12px;
    font-weight: 500;
    display: inline-flex;
    position: relative;
    margin-bottom: 65px;
    flex-wrap: wrap;
}
html {
  scroll-behavior: smooth;
}