.custom-button{
    background: #ed2a28;
    margin-top: 30px;
    color: #fff;
    padding: 12px 40px;
    text-transform: uppercase;
    border-radius: 4px;
    display: block;
    border: none;
    width: auto;
    max-width: 230px;
    transition: .5s;
    box-shadow: 0 .5em .5em -.4em #00000026;
    cursor: pointer;
}